@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Playfair+Display:wght@600;700&display=swap');

body{
margin:0;
font-family:Poppins;
background:#111;
color:#f5f1ea;
}

/* landing */

.landing{

height:100vh;

background:url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

.landing-overlay{

background:rgba(0,0,0,0.7);
padding:60px;
text-align:center;

}

.landing-title{
font-size:56px;
font-weight:700;
font-family:Playfair Display;
}

.landing-sub{
font-size:20px;
}


/* titles */

.page-title{
font-size:44px;
font-weight:700;
font-family:Playfair Display;
}


/* layout */

.layout{
display:flex;
}

.sidebar{

width:220px;
background:#1c1c1c;
height:100vh;
padding:20px;

display:flex;
flex-direction:column;
gap:10px;

}

.sidebar button{

background:#c7a98b;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;

}

.avatar{

width:70px;
height:70px;

background:#c7a98b;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

font-size:30px;
font-weight:bold;

}

.main{
flex:1;
padding:40px;
}


/* sections */

.section{
margin-top:30px;
}

input{
padding:10px;
border-radius:6px;
border:none;
margin-top:10px;
}


/* calendar */

#calendarGrid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:10px;
margin-top:20px;
}

.day{
background:#1f1f1f;
padding:20px;
text-align:center;
border-radius:6px;
}


/* auth */

.auth{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#111;
}

.auth-card{
background:#1f1f1f;
padding:40px;
width:350px;
}


/* light theme */

.light{
background:white;
color:black;
}